<mat-toolbar  style="background-color:rgb(201, 178, 79)">
    <mat-toolbar-row fxLayout="row" fxLayoutAlign="center center">
        <span class="helper-left-margin" >Shop Bridge</span>
    </mat-toolbar-row>
</mat-toolbar>
<!-- <button mat-raised-button(click)="oncreateButtonClicked()" type="create"> create </button> -->
<div class="helper-left-margin mt30" fxLayout="row" fxLayoutAlign="center center">
    <button mat-flat-button color="accent" routerLink="/post/create">Create item</button>
    <span class="helper-left-margin">
        <button mat-flat-button color="accent" routerLink="/post/view">View item</button>
    </span>
</div>
<!-- <a mat-button routerLink="/post/create">create item</a>
    <a mat-button routerLink="/post/view">View item</a>
    <a mat-button routerLink="/post/edit">edit item</a> -->